[package]
authors = ["Matt Hauck <matt.hauck@tanium.com>"]
name = "octobot"
version = "0.1.0"
edition = "2018"

[[bin]]
doc = false
name = "octobot"
path = "src/main.rs"

[lib]
doc = false
name = "octobot"
path = "src/lib.rs"

[dependencies]
octobot_lib = { "path" = "../lib" }
octobot_ldap = { "path" = "../ldap" }
octobot_ops = { "path" = "../ops" }
env_logger = "0.6.1"
failure = "0.1.5"
futures = "0.1.25"
http = "0.1.16"
hyper = "0.12.25"
log = "0.4.6"
regex = "1.1.2"
ring = "0.14.6"
rustc-serialize = "0.3.24"
serde = "1.0.89"
serde_derive = "1.0.89"
serde_json = "1.0.39"
thread-id = "3.3.0"
time = "0.1.42"
tokio = "0.1.17"
tokio-core = "0.1.17"
tokio-threadpool = "0.1.12"

[dev-dependencies]
maplit = "1.0.1"
tempdir = "0.3.7"
