[package]
authors = ["Matt Hauck <matt.hauck@tanium.com>"]
name = "octobot"
version = "0.1.0"
edition = "2018"

[[bin]]
doc = false
name = "octobot"
path = "src/main.rs"

[lib]
doc = false
name = "octobot"
path = "src/lib.rs"

[dependencies]
octobot_lib = { "path" = "../lib" }
octobot_ldap = { "path" = "../ldap" }
octobot_ops = { "path" = "../ops" }
env_logger = "0.9.0"
failure = "0.1.8"
http = "0.2.5"
hyper = { version = "0.14.13", features = ["server"] }
log = "0.4.14"
regex = "1.5.4"
ring = "0.16.20"
rustc-serialize = "0.3.24"
serde = "1.0.130"
serde_derive = "1.0.130"
serde_json = "1.0.68"
thread-id = "4.0.0"
tokio = { version = "1.12.0", features = ["rt", "rt-multi-thread", "macros"] }
tokio-core = "0.1.18"
tokio-threadpool = "0.1.18"
async-trait = "0.1.51"
chrono = "0.4.19"

[dev-dependencies]
maplit = "1.0.2"
tempdir = "0.3.7"
