<form style="width: 300px" ng-submit="login()">
  <h2 class="form-signin-heading">Login</h2>
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" ng-model="username" placeholder="Username" required autofocus>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" ng-model="password" placeholder="Password" required>
  </div>
  <button class="btn btn-primary" type="submit">Sign in</button>
</form>
