<h3 xmlns="http://www.w3.org/1999/html">Repos</h3>
  <div class="form-group">
    <button type="button" class="btn btn-sm btn-primary float-sm-right mb-2 col-xs-12 col-sm-auto" ng-click="addRepo()">Add repo</button>
    <input type="text" class="form-control form-control-sm float-sm-right mb-2 col-sm-2 mx-sm-2" ng-model="needle" placeholder="Filter">
  </div>

  <table class="table">
    <tr>
      <th>Repo</th>
      <th>Slack Channel</th>
      <th>JIRA Project(s)</th>
      <th>&nbsp;</th>
    </tr>
    <tr ng-repeat="repo in repos | filter:needle">
      <td>{{repo.repo}}
      <td>{{repo.channel}}</td>
      <td>{{displayJIRAs(repo)}}</td>
      </td>
      <td>
        <a href title="Edit" ng-click="editRepo(repo)"><span class="oi oi-pencil" /></a>&nbsp;
        <a href title="Delete" ng-click="removeRepo(repo)"><span class="oi oi-trash" /></a>
      </td>
    </tr>
  </table>
</div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="add-repo-modal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <form class="" ng-submit="addRepoSubmit()">
        <div class="modal-header">
          <h4 class="modal-title">{{!!theRepo.id ? 'Edit' : 'Add'}} Repo</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <h4>Repo</h4>
          <div class="form-group">
            <label>Repository</label>
            <input id="add-repo-repo" type="text" class="form-control" ng-model="theRepo.repo" placeholder="some-org/some-repo" required />
          </div>
          <div class="form-group">
            <label>Slack channel</label>
            <input type="text" class="form-control" ng-model="theRepo.channel" placeholder="the-reviews" required />
          </div>

          <h4>Git</h4>
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="theRepo.force_push_notify"/> Force-push notification
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="theRepo.use_threads"/> Use slack threads
            </label>
          </div>
          <div class="form-group">
            <label>Release branch prefix</label>
            <input type="text" class="form-control" ng-model="theRepo.release_branch_prefix" placeholder="release/" />
          </div>

          <h4>JIRA</h4>
          <div style="margin: 10px 0px">
            <button type="button" class="btn btn-sm btn-primary" ng-click="addJIRA(theRepo)">Add JIRA</button>
          </div>

          <div class="container">
            <div ng-repeat="config in theRepo.jira_config" class="row">
              <div class="border p-2 mb-2 col-11">
                <div class="form-group">
                  <label>Project</label>
                  <input type="text" class="form-control" ng-model="config.jira_project" placeholder="APP" required  />
                </div>
                <div class="form-group">
                  <label>Release branch regex</label>
                  <input type="text" class="form-control" ng-model="config.release_branch_regex"  placeholder="release/app-.*" />
                </div>
                <div class="form-group">
                  <label>Version script</label>
                  <input type="text" class="form-control" ng-model="config.version_script"  placeholder="./make-the-version.sh" />
                </div>
                <div class="form-group">
                  <label>Slack channel override</label>
                  <input type="text" class="form-control" ng-model="config.channel" placeholder="app-reviews" />
                </div>
              </div>
              <div class="col-1">
                <button title="Remove JIRA" ng-click="removeJIRA(theRepo, $index)" class="btn btn-sm btn-secondary"><span class="oi oi-trash" /></button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
