<h3>Repos</h3>
<form class="form-inline" ng-submit="saveRepos()">
  <div ng-repeat="(host, repos) in reposMap">
    <h4>Host: {{host}}</h4>

    <table class="table">
      <tr>
        <th>Repo</th>
        <th>Slack Channel</th>
        <th>Config</th>
        <th>&nbsp;</th>
      </tr>
      <tr ng-repeat="info in repos">
        <td>
          <input type="text" class="form-control" ng-model="info.repo" placeholder="Repo" required>
        </td>
        <td>
          <input type="text" class="form-control" ng-model="info.channel" placeholder="Slack channel" required>
        </td>
        <td>
          <div class="row">
            <div class="col-md-5">JIRA project(s)</div>
            <div class="col-md-7"><input type="text" class="form-control" ng-model="info.jira_projects" ng-list=", " style="width:100%"></div>
          </div>
          <div>
            <label><input type="checkbox" class="form-control" ng-model="info.jira_versions_enabled"> JIRA versions enabled</label>
          </div>
          <div>
            <label><input type="checkbox" class="form-control" ng-model="info.force_push_notify"> Force-push notification</label>
          </div>
          <div class="row">
            <div class="col-md-5">Force-push status reapply</div>
            <div class="col-md-7"><input type="text" class="form-control" ng-model="info.force_push_reapply_statuses" ng-list=", " style="width:100%"></div>
          </div>
          <div class="row">
            <div class="col-md-5">Version script</div>
            <div class="col-md-7"><input type="text" class="form-control" ng-model="info.version_script" style="width:100%"></div>
          </div>
        </td>
        <td>
          <a href ng-click="removeRepo(host, info.repo)"><span class="glyphicon glyphicon-trash" /></a>
        </td>
      </tr>
    </table>
    <div style="margin: 10px">
      <button type="button" class="btn btn-sm btn-default" ng-click="addRepo(host)">Add repo</button>
    </div>
  </div>
  <div style="margin: 10px">
    <button type="submit" class="btn btn-sm btn-primary">Save Repos</button>
  </div>
</form>
