<h3>Repos</h3>
  <div style="margin: 10px; float: right">
    <button type="button" class="btn btn-sm btn-primary" ng-click="addRepo()">Add repo</button>
  </div>

  <table class="table">
    <tr>
      <th>Repo</th>
      <th>Branches</th>
      <th>Slack Channel</th>
      <th>&nbsp;</th>
    </tr>
    <tr ng-repeat="repo in repos">
      <td>{{repo.repo}}
      <td>{{displayBranches(repo)}}
      <td>{{repo.channel}}</td>
      </td>
      <td>
        <a href title="Edit" ng-click="editRepo(repo)"><span class="oi oi-pencil" /></a>&nbsp;
        <a href ng-click="removeRepo(repo)"><span class="oi oi-trash" /></a>
      </td>
    </tr>
  </table>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="add-repo-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form class="" ng-submit="addRepoSubmit()">
        <div class="modal-header">
          <h4 class="modal-title">{{!!theRepo.id ? 'Edit' : 'Add'}} Repo</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <h4>Repo</h4>
          <div class="form-group">
            <label>Repository full name or org</label>
            <input id="add-repo-repo" type="text" class="form-control" ng-model="theRepo.repo"
                   placeholder="some-org/some-repo, or some-org" required />
          </div>
          <div class="form-group">
            <label>Slack channel</label>

            <input type="text" class="form-control" ng-model="theRepo.channel" placeholder="the-reviews" required />
          </div>
          <div class="form-group">
            <label>Restrict to branches (optional)</label>
            <input type="text" class="form-control" ng-model="theRepo.branches" ng-list=", " placeholder="features/special-branch1" />
          </div>

          <h4>JIRA</h4>
          <div class="form-group">
            <label>JIRA project(s)</label>
            <input type="text" class="form-control" ng-model="theRepo.jira_projects" ng-list=", " placeholder="SERVER, APP" />
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="theRepo.jira_versions_enabled" /> JIRA versions enabled
            </label>
          </div>
          <div class="form-group">
            <label>Version script</label>
            <input type="text" class="form-control" ng-model="theRepo.version_script"  placeholder="./make-the-version.sh" />
          </div>

          <h4>Git</h4>
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="theRepo.force_push_notify"> Force-push notification
            </label>
          </div>
          <div class="form-group">
            <label>Force-push status reapply</label>
            <input type="text" class="form-control" ng-model="theRepo.force_push_reapply_statuses" ng-list=", " />
          </div>
          <div class="form-group">
            <label>Release branch prefix</label>
            <input type="text" class="form-control" ng-model="theRepo.release_branch_prefix" placeholder="release/" />
          </div>
          <div class="form-group">
            <label>Next branch suffix</label>
            <input type="text" class="form-control" ng-model="theRepo.next_branch_suffix" placeholder="-next" />
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
