<h3>Users</h3>
  <table class="table">
    <tr>
      <th>GitHub Username</th>
      <th>Slack Username</th>
      <th>&nbsp;</th>
    </tr>

    <tr ng-repeat="user in users">
      <td>{{user.github}}</td>
      <td>{{user.slack}}</td>
      <td>
        <a href title="Edit" ng-click="editUser(user)"><span class="glyphicon glyphicon-edit" /></a>&nbsp;
        <a href title="Remove" ng-click="removeUser(user)"><span class="glyphicon glyphicon-trash" /></a>
      </td>
    </tr>
  </table>
  <div style="margin: 10px">
    <button type="button" class="btn btn-sm btn-primary" ng-click="addUser()">Add user</button>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="add-user-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form class="" ng-submit="addUserSubmit()">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">{{!!theUser.id ? 'Edit' : 'Add'}} user</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <input id="add-user-username" type="text" class="form-control" ng-model="theUser.github" placeholder="GitHub username" required>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" ng-model="theUser.slack" placeholder="Slack username" required>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="theUser.mute_direct_messages"> Mute Direct Messages
            </label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
