<h2>Versions</h2>

<p class="lead">
  Merge pending versions into new JIRA version
</p>

<div ng-show="!dryRun && processing" class="alert alert-warning text-center">
  <b>Processing.</b> Please do not leave this page...
</div>

<form class="" ng-submit="submit()">
  <div class="form-group">
    <input type="text" class="form-control" ng-disabled="!dryRun" ng-model="req.project" placeholder="JIRA project (e.g. SERVER)" required>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" ng-disabled="!dryRun" ng-model="req.version" placeholder="New Version (e.g. 2.1.0.1000)" pattern="((\d+)\.){2,3}\d+" required>
  </div>
  <div class="form-group">
    <button type="submit" ng-disabled="processing || (!dryRun && !hasRespData())" class="btn btn-sm btn-primary">{{submitText()}}</button>
    <button type="reset" ng-disabled="processing" class="btn btn-sm btn-default" ng-click="reset()">Reset</button>
  </div>
</form>

<div ng-hide="dryRun">

  <h3>Preview</h3>

  <div ng-hide="hasRespData()">
    <i>No versions found to merge</i>
  </div>

  <div ng-show="hasRespData()">
    <p>
      The following JIRAs were found with pending versions to migrate:
    </p>
    <div class="well" ng-repeat="(key, versions) in resp">
      <h4><a ng-href="{{jiraLink(key)}}" target="_blank">{{key}}</a></h4>
      <ul>
        <li ng-repeat="v in versions track by $index">{{v}}</li>
      </ul>
    </div>
  </div>

</div>

<div ng-show="!!lastVersion">

  <h3>Success!</h3>

  <p>
    The following JIRAs were found with pending versions were migrated to {{lastVersion}}
  </p>
  <div class="well" ng-repeat="(key, versions) in lastResp">
    <h4><a ng-href="{{jiraLink(key)}}" target="_blank">{{key}}</a></h4>
    <ul>
      <li ng-repeat="v in versions track by $index">{{v}}</li>
    </ul>
  </div>

</div>

<div class="modal fade" tabindex="-1" role="dialog" id="auth-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form class="" ng-submit="modalSubmit()">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">JIRA authentication</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <input id="auth-username" type="text" class="form-control" ng-model="req.admin_user" placeholder="username" required>
          </div>
          <div class="form-group">
            <input id="auth-password" type="password" class="form-control" ng-model="req.admin_pass" placeholder="password" required autocomplete="off">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary" ng-click="modalSubmit()">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

