[package]
authors = ["Matt Hauck <matt.hauck@tanium.com>"]
name = "octobot_ops"
version = "0.1.0"
edition = "2018"

[lib]
doc = false
name = "octobot_ops"
path = "src/lib.rs"

[dependencies]
octobot_lib = { "path" = "../lib" }
conventional = "0.5.0"
failure = "0.1.8"
hyper = "0.14.13"
log = "0.4.14"
regex = "1.5.4"
serde = "1.0.130"
serde_derive = "1.0.130"
tokio = { version = "1.12.0", features = ["rt"] }
unidiff = "0.3.3"
reqwest = { version = "0.11.4", features = ["json"] }
async-trait = "0.1.51"
prometheus = { version = "0.13.0", features = ["process"]}

[dev-dependencies]
tempdir = "0.3.7"
maplit = "1.0.2"
