[package]
authors = ["Matt Hauck <matt.hauck@tanium.com>"]
name = "octobot_ops"
version = "0.1.0"
edition = "2018"

[lib]
doc = false
name = "octobot_ops"
path = "src/lib.rs"

[dependencies]
octobot_lib = { "path" = "../lib" }
conventional = "0.5.0"
failure = "0.1.5"
futures = "0.1.25"
hyper = "0.12.25"
log = "0.4.6"
regex = "1.1.2"
serde = "1.0.89"
serde_derive = "1.0.89"
time = "0.1.42"
tokio = "0.1.17"
unidiff = "0.3.2"

[dependencies.reqwest]
version = "0.9.12"

[dev-dependencies]
tempdir = "0.3.7"
maplit = "1.0.1"
