name: Rust

on: [push]

jobs:
  build:

    runs-on: ubuntu-22.04

    steps:
    - name: Checkout sources
      uses: actions/checkout@v1

    - name: Update apt
      run: sudo apt-get update

    - name: Install build packages
      run: sudo apt-get install libsqlite3-dev libldap2-dev

    - name: Install test packages
      run: sudo apt-get install python3.6 firejail

    - name: Install stable toolchain
      uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: 1.91.0
        override: true
        components: rustfmt, clippy

    - name: Build
      uses: actions-rs/cargo@v1
      with:
        command: build

    - name: Test
      uses: actions-rs/cargo@v1
      with:
        command: test

    - name: Format
      uses: actions-rs/cargo@v1
      with:
        command: fmt
        args: --all -- --check

    - name: Lint
      uses: actions-rs/cargo@v1
      with:
        command: clippy
        args: --no-deps
