name: Rust

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout sources
      uses: actions/checkout@v1

    - name: Install build packages
      run: sudo apt-get install libsqlite3-dev libldap2-dev

    - name: Install test packages
      run: sudo apt-get install python firejail

    - name: Install stable toolchain
      uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: stable
        override: true

    - name: Build
      uses: actions-rs/cargo@v1
      with:
        command: build

    - name: Test
      uses: actions-rs/cargo@v1
      with:
        command: test

    - name: Lint
      uses: actions-rs/cargo@v1
      with:
        command: fmt
        args: --all -- --check
